.css-1ncbew8[aria-checked="true"],
.css-1ncbew8[data-checked] {
  background: #41794c !important;
  border-color: #41794c !important;
}

.css-1rfcpk[aria-checked="true"],
.css-1rfcpk[data-checked] {
  background: white !important;
  border-color: white !important;
}
